@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary-sub {
    display: block;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1s; }
    .heading-primary-sub::before {
      content: "";
      display: block;
      width: 100%;
      margin-bottom: 10px;
      border-bottom: 1px solid #fff;
      transform: translateX(-100px); }
  .heading-primary-main {
    display: block;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 20px;
    word-spacing: 30px;
    animation-name: moveInRight;
    animation-duration: 1s; }
    .heading-primary-main:after {
      content: "";
      display: block;
      width: 110%;
      border-bottom: 1px solid #fff;
      transform: translateX(10px); }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #b0c0d7, #5578aa);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc(( 100% - 6rem ) /2); }
  .row .col-1-of-3 {
    width: calc(( 100% - 2* 6rem ) /3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2* 6rem) /3 ) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3* 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3* 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(176, 192, 215, 0.8), rgba(85, 120, 170, 0.8)), url(../images/header-bg-min.jpg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
