.header {
  height: 95vh;
  background-image: 
  linear-gradient(
    to right bottom,  
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
    ), 
  url(https://yipeechen.github.io/resume/images/header-bg-min.jpg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;

  &__text-box {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}

