.avatar {

  &__photo {
    width: 60%;
    transform: translate(40%, 0%);
    transition: all .3s;
  }

  &__bordered{
    position: relative;
    &--decorated{
      border: 1.5rem solid $color-primary;
      box-sizing: border-box;
      position: absolute;
      right: 0;
      top: 0;
      width: 25rem;
      height: 25rem;
      transform: translate(-10%, 60%);
      transition: all .3s;
    }
  }

  &:hover {
    .avatar__photo {
    outline: 1.5rem solid rgba($color-secondary, .5);
    z-index: 20;
    transform: scale(1.05) translate(50%, 10%);
    box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
    z-index: 20;
    }

    .avatar__bordered--decorated {
      transform: translate(-30%, 30%);
    }
  }
}

.personal__info {
  width: 80%;

  &--content p {
    margin-bottom: 2rem; 
  }

  &--skill p{
  line-height: 35px;
  text-transform: capitalize;
  color:  $color-primary-dark;
  word-spacing: 5px;
  }
}