.timeline {
  margin: 4rem auto;
  position: relative;
  width: 60%;

  &:before {
    background-color: $color-primary-dark;
    content: '';
    margin-left: -0.1rem;
    position: absolute;
    top: 0;
    left: 2rem;
    width: 0.2rem;
    height: 100%;
  }

  &__event {
    position: relative;

    &:hover {
      .timeline__event--icon {
        transform: rotate(-45deg);
        background-color: $color-secondary;
      }
    
      .timeline__event--year {
        box-shadow: inset 40rem 0 0 0 rgba($color-secondary, .9);
      }
    }

    &--box {
      padding: 2rem;
      position: relative;
      top: -1.875rem;
      left: 4rem;

      & h4 {
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
      }

      & p:not(.timeline__event--year) {
        padding-bottom: 1.2rem;
      }      
    }

    &--icon {
      transition: transform 0.2s ease-in;
      background-color: $color-primary-dark;
      outline: 10px solid $color-white;
      display: block;
      margin: 0.5rem 0.5rem 0.5rem -0.5rem;
      position: absolute;
      top: 0;
      left: 2rem;
      width: 1rem;
      height: 1rem;
    }

    &--year {
      transition: box-shadow 0.5s ease-in 0.1s;
      color: $color-white;
      font-size: 1.4rem;
      background-color: $color-primary-dark;
      box-shadow: inset 0 0 0 0rem $color-primary-light;
      display: inline-block;
      margin-bottom: 1.2rem;
      padding: 0.3rem 2rem;
    }
  }
}