.work {
  list-style: none;
  width: 100%;
  @include clearfix;
  transform: skewY(4deg);

  & li {
    display: block;
    float: left;   
    width: 25%;
  }

  &-photo {
    position: relative;
    width: 100%;
    margin: 0;
    height: 35rem;
    overflow: hidden;
    background: linear-gradient(
    to bottom,rgba($color-primary-dark, 0.4), transparent , rgba($color-primary-dark, 0.9));
      

    & img {
      opacity: 0.3;
      width: 100%;
      height: auto;
      transform: translateY(1.8rem) scale(1.3) skewY(-4deg);
      transition: transform 0.5s, opacity 0.5s;
    }

    &:hover {
      & > img {
        opacity: 1;
        transform: translateY(1.8rem) scale(1.17) skewY(-4deg);
      }
      
      & > .work-info {
      opacity: 0;
      transform: translateY(20rem);
      }
    }
  }

  &-info {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    padding: 0 4rem;
    color:$color-primary-dark;
    word-spacing: .3rem;
    transform: skewY(-4deg) translateY(12rem);
    transition: all .5s;
  }
}